<!doctype html>
<html class="fixed" ng-app="app">
    <head>

        <% include ../inc/admin/head %>

        <script src="/vendor/modernizr/modernizr.js"></script>


    </head>
    <body>
        

        <ng-view></ng-view>

        <!-- Vendor -->
        <script src="/dist/admin.dep.min.js"></script>
        <!--<![endif]-->
        <script src="/dist/app.templates.min.js"></script>
        <script src="/dist/app.min.js"></script>
        <script src="/app/routers/admin-login.js"></script>
    </body>
</html>