

<!DOCTYPE html>
<html ng-app="app">
    <head>
        
        <% include ../inc/head %>
    
    </head>
    <body >

        <div class="body">
            
            <% include ../inc/header %>
            
            <% include ../inc/error %>

            <% include ../inc/footer %>
        
        </div>

        <% include ../inc/scripts %>

    </body>
</html>
