<!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   

        <title>Gift Cards</title>  

        <meta name="keywords" content="HOTHAI TEMPLATE" />
        <meta name="description" content="Orbit Project">
        <meta name="author" content="hothai">

      
        <!-- Favicon -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="/dist/min.css">
        
        <!-- Head Libs -->
        <script src="./vendor/modernizr/modernizr.js"></script>

        <!--[if IE]>
            <link rel="stylesheet" href="css/ie.css">
        <![endif]-->

        <!--[if lte IE 8]>
            <script src="./vendor/respond/respond.js"></script>
            <script src="./vendor/excanvas/excanvas.js"></script>
        <![endif]-->