<!-- Basic -->
        <meta charset="UTF-8">

        <title>Dashboard | Admin CardSlyce </title>
        <meta name="keywords" content="Dashboard | Admin CardSlyce | Gift Cards" />
        <meta name="description" content="Dashboard | Admin CardSlyce ">
        <meta name="author" content="okler.net">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="./dist/admin_min.css" />